
.contact {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contactForm label {
  margin-bottom: 1vh;
}

.submitBtn {
  border: solid black 1px;
}

.submitBtn:hover {
  
}