
.navbar {
  background-color: rgb(40, 111, 211);
  display: flex;
  justify-content: flex-end; 
  padding-right: 15px;
  position: fixed;
}

.navLink {
  font-size: large;
}

button {
  background: none;
	border: none;
}

button:hover {
  color: white;
}