
.navbar {
  background-color: rgb(40, 111, 211);
  display: flex;
  justify-content: flex-end; 
  padding-right: 15px;
  position: fixed;
}

.navLink {
  font-size: large;
}

.resume {
  text-decoration: none;
  padding: 1px 6px 1px 6px;
}

button {
  font-family: Quicksand;
  color: white;
  background: none;
	border: none;
}

button:hover {
  color: rgb(0, 0, 0);
}