
.footer {
  height: 40px;
  background-color: rgb(40, 111, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  display: flex;
}

.icons {
  padding: 0 10px 0 10px;
  font-size: 30px;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(0, 0, 0);
}