
@font-face {
  font-family: Arimo;
  src: url(../../../public/fonts/Arimo/static/Arimo-Bold.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../../../public/fonts/Quicksand/static/Quicksand-Medium.ttf);
}

.introduction {
  display: flex;
}

.profilePicture {
  max-width: 100%;
  height: auto;
}

.myName {
  font-family: Arimo;
  font-size: 2em;
}

.description {
  font-family: Quicksand;
  font-size: 1em;
}

.experience {
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  align-items: center;
}

